.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.imgRound {
  border-radius: 50%;
}

.footerText {
  color: white;
  text-align: center;
}

.cardImg {
  object-fit: cover;
  height: 300px;
} 

.detailImg {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.detailIcon {
  width: 30px;
  height: 30px;
}
.cartIcon {
  width: 50px;
  height: 50px;
}
td {
  text-align: center;
  align-self: center;
}
th {
  text-align: center;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  padding-top: 40px;
}

.searchTerm {
  width: 100%;
  border: 3px solid #FFC107;
  border-right: none;
  padding: 10px;
  height: 36px;
  border-radius: 0 0 0 0;
  outline: none;
  color: gray;
}

.searchTerm:focus{
  color: #282c34;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #FFC107;
  background: #FFC107;
  text-align: center;
  color: #282c34;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.searchDropdown {
  min-width: 125px;
  height: 36px;
  border: 1px solid #FFC107;
  background: #FFC107;
  text-align: center;
  color: #282c34;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-bar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid black;
  background: #EAEDED;
}

.filler {
  background: #FFC107;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.03);
}

.websiteImg {
  object-fit: cover;
  width: 16rem;
  height: 14rem 
}